# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE config directory
.idea/

# Ignore Lucene index
lucene-store/

# Ingore Wikipedia article dump
random-articles.dump
